@model JobPlatform.Web.ViewModels.Shared.JobPostViewModel

<div class="card">
    <div class="card-body text-center">
        <img class="avatar rounded-circle job-card_img" src="@Model.Employer.ImageUrl" alt="Bologna">
        <a asp-controller="Job" asp-action="Id" asp-route-id="@Model.Id">
            <h5 class="job-card_title">@Model.Title</h5>
        </a>
        <a asp-controller="Employer" asp-action="Id" asp-route-id="@Model.Employer.Id">
            <h6 class="card-subtitle mb-2 text-muted">@Model.Employer.Name</h6>
        </a>
        <p class="card-text">@Model.City, @Model.Country<br />@Model.CreatedOn</p>
    </div>
</div>

