@model JobPlatform.Web.ViewModels.Shared.JobPostViewModel
<div class="card">
    <div class="card-img" style="background-image: url('@Model.Employer.ImageUrl')"></div>
    <div class="card-body">
        <a asp-controller="Job" asp-action="Id" asp-route-id="@Model.Id">
            <h3 class="job-card__title">@Model.Title</h3>
        </a>
        <a asp-controller="Employer" asp-action="Id" asp-route-id="@Model.Employer.Id">
            <h4 class="job-card__company-name">@Model.Employer.Name</h4>
        </a>
        <h5 class="job-card__location">@Model.City, @Model.Country</h5>
        <p class="job-card__listed-status">@Model.CreatedOn</p>
    </div>
</div>

