@model JobPlatform.Web.ViewModels.Browse.JobsDisplayViewModel
@inject JobPlatform.Services.ISlugService SlugService

<div class="container">
    <div class="row">
        @foreach (var jobPost in Model.JobPosts)
        {
            <div class="col-md-4">
                <div class="card col-md-12 m-2">
                    <div class="card-body text-center">
                        <img class="avatar rounded-circle job-card_img" src="@jobPost.Employer.ImageUrl" alt="">
                        <a asp-controller="Job" asp-action="Id" asp-route-id="@jobPost.Id" asp-route-slug="@SlugService.ConvertSlug(jobPost.Title)" >
                            <h5 class="job-card_title text-overflow__ellipsis">@jobPost.Title</h5>
                        </a>
                        <a asp-controller="Employer" asp-action="Id" asp-route-id="@jobPost.Employer.Id" asp-route-slug="@SlugService.ConvertSlug(jobPost.Employer.Name)" >
                            <h6 class="card-subtitle mb-2 text-muted">@jobPost.Employer.Name</h6>
                        </a>
                        <p class="card-text">@jobPost.City, @jobPost.Country<br /><time datetime="@jobPost.CreatedOn.ToString("o")"></time></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
