@inject JobPlatform.Services.ISlugService SlugService
@{
    ViewData["Title"] = $"{Model.Name} profile";
}

<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <h2 class="my-3">@Model.Name</h2>
        @Html.Raw(Model.SanitizedDescription)
    </div>
    <aside class="col-md-offset-1 col-md-3 col-sm-12 col-xs-12">
        <img class="img-fluid employer-card_img" src="@Model.ImageUrl" alt="">
        <hr />
        <div>
            <h5>Job posts from @Model.Name</h5>
            <hr />
            @{
                int i = 0;
                foreach (var job in Model.JobPostsOrderByDescending)
                {
                    if (i >= 5)
                    {
                        <a class="btn btn-primary" asp-controller="Browse" asp-action="ByEmployer" asp-route-name="@Model.Name">More job posts</a>
                        break;
                    }
                    <a asp-controller="Job" asp-action="Id" asp-route-id="@job.Id" asp-route-slug="@SlugService.ConvertSlug(job.Title)">
                        <div class="text-body">
                            <h6 class="job-card_title">@job.Title</h6>
                            <h7 class="job-card_location">@job.City, @job.Country</h7>
                            <p class="job-card_listed-status">@job.CreatedOn</p>
                        </div>
                    </a>
                    @foreach (var tag in job.Tags)
                    {
                        <a class="badge badge-secondary" asp-controller="Browse" asp-action="ByTag" asp-route-tag="@tag.Name">@tag.Name</a>
                    }
                    <hr />
                    i++;
                }
            }
        </div>
    </aside>
</div>


