
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <h2 class="my-3">@Model.Title</h2>
        <p>@Model.Description</p>
        <div class="text-center">
            <input type="submit" value="Кандидатствай" class="btn btn-primary" />
        </div>
    </div>
    <aside class="col-md-offset-1 col-md-3 col-sm-12 col-xs-12">
        <img class="img-fluid" src="@Model.ImageUrl" alt="">
        <p class="form-text">
            @Model.Employer <br>
            @Model.City, @Model.Country <br>
            @Model.PublishDate
        </p>
        <hr />
        <div>
            <h6>Умения</h6>
            @foreach (string tag in Model.Tags)
            {
                <a class="badge badge-secondary" href="#/@tag">@tag</a>
            }
        </div>
    </aside>
</div>
