@using JobPlatform.Common
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div>
            <h2 class="my-3">@Model.Title</h2>
            @if (Model.EditPermission)
            {
                <div>
                    <a asp-controller="Job" asp-action="Edit" asp-route-id="@Model.Id">[Редактирай]</a>
                    <a class="btn-link" data-toggle="modal" data-target="#dialogBox">[Изтрий]</a>
                </div>
            }

            @Html.Raw(Model.SanitizedDescription)
        </div>
        <br />
        <div class="text-center">
            <input type="submit" value="Кандидатствай" class="btn btn-primary" />
        </div>
    </div>
    <aside class="col-md-offset-1 col-md-3 col-sm-12 col-xs-12">
        <img class="img-fluid" src="@Model.Employer.ImageUrl" alt="">
        <p class="form-text">

            <a asp-controller="Employer" asp-action="Id" asp-route-id="@Model.Employer.Id">
                @Model.Employer.Name
            </a>
            <br>
            @Model.City, @Model.Country <br>
            @Model.Date
        </p>
        <hr />
        <div>
            @if (Model.Tags.Count != 0)
            {
                <h6>Тагове</h6>
                @foreach (var tag in Model.Tags)
                {
                    <a class="badge badge-secondary" href="/Job/Tagged/@tag.Name">@tag.Name</a>
                }
            }
        </div>
    </aside>
</div>

<div class="modal fade" id="dialogBox" tabindex="-1" role="dialog" aria-labelledby="dialogBoxTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title" id="dialogBoxLongTitle">Сигурни ли сте, че желаете да изтриете обявата?</h7>
                <button type="button" class="close" data-dismiss="modal" aria-label="Отказ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-danger">"@Model.Title"</h5>
                <form asp-controller="Job" asp-action="Delete" asp-route-id="@Model.Id">
                    <button type="button" class="btn btn-secondary align-left" data-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-primary">Изтриване</button>
                </form>
            </div>
        </div>
    </div>
</div>
