@model JobPlatform.Web.ViewModels.Management.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = $"{Model.Name} Dashboard";
}

<h1>@this.ViewData["Title"]</h1>

<h5>Active job posts: @Model.ActiveJobs</h5>
<hr />
@foreach (var job in Model.JobPosts)
{
    <div class="text-body">
        <h6 class="job-card_title">@job.Title</h6>
        <h7 class="job-card_location">@job.City, @job.Country</h7>
        <p class="job-card_listed-status">@job.CreatedOn</p>
        <a asp-area="Management" asp-controller="Dashboard" asp-action="Messages" asp-route-postId="@job.Id">
            <h6>@job.ApplyCounter</h6>
        </a>
    </div>
    <hr />
}