@model JobPlatform.Web.ViewModels.Management.Messages.JobApplyViewModel
@{
    this.ViewData["Title"] = "Messeges";
}

<h1>@this.ViewData["Title"]</h1>

<h5>Messeges for: @Model.Title</h5>
<hr />
@foreach (var messages in Model.CvMessages)
{
    <div class="text-body">
        <h6 class="job-card_title">@messages.FirstName @messages.LastName</h6>
        @messages.CreatedOn
        <p class="card-text" id="message_short">
            @messages.ShortMessage
        </p>
        <a href="@messages.CvUrl" class="btn btn-outline-secondary">
            <i class="fas fa-envelope">
                <span>CV</span>
            </i>
        </a>
        <a class="btn btn-outline-danger" asp-area="Management" asp-action="DeleteMessage" asp-route-id="@messages.Id">
            <i class="fas fa-envelope">
                <span>Delete</span>
            </i>
        </a>
    </div>
    <hr />
}
