@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Report #@Model.Id</h1>
<div class="text-body">
    <h6 class="job-card_title">@Model.Title</h6>
    @Model.CreatedOn
    <br />
    @*<a asp-controller="Job" asp-action="Id" asp-route-id="@report.JobPostId">Reported post</a>
    <a asp-controller="Report" asp-action="Id" asp-route-id="@report.Id">Report details</a>*@
    <p class="card-text">
        @Model.Message
    </p>
</div>