@model JobPlatform.Web.ViewModels.Administration.Reports.ReportViewModel
@{
    this.ViewData["Title"] = $"Report #{Model.Id}";
}
@{
}
<h1>@this.ViewData["Title"]</h1>
<div class="text-body">
    <h6 class="job-card_title">@Model.Title</h6>
    <time datetime="@Model.CreatedOn.ToString("o")"></time>
    <br />
    <p class="card-text">
        @Model.Message
    </p>
    <form method="post" asp-area="Administration" asp-controller="Report" asp-action="Update" asp-route-id="@Model.Id" class="form">
        <input hidden asp-for="@Model.Id" />
        <div class="form-group">
            <label asp-for="@Model.Resolved"></label>
            @*<select asp-for="@Model.Resolved" asp-items="reportResolved" class="form-control"></select>*@
            <select asp-for="@Model.Resolved" class="form-control">
                <option value="false">Not resolved</option>
                <option value="true">Resolved</option>
            </select>
            <span asp-validation-for="@Model.Resolved" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ResolvedInfo"></label>
            <textarea asp-for="@Model.ResolvedInfo" class="form-control" rows="10"></textarea>
            <span asp-validation-for="@Model.ResolvedInfo" class="text-danger"></span>
        </div>

        <div>
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    </form>
</div>