@model JobPlatform.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @if (this.TempData["InfoMessage"] != null)
            {
                <div class="alert alert-success">
                    @this.TempData["InfoMessage"]
                </div>
            }
            <h1>@this.ViewData["Title"]</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="card col-md-12 m-2">
                        <div class="card-body text-center">
                            <i class="far fa-file-alt fa-5x"></i>
                            <p class="card-text">Active job posts: @Model.ActiveJobs</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card col-md-12 m-2">
                        <div class="card-body text-center">
                            <i class="fa fa-user fa-5x"></i>
                            <p class="card-text">Active users: @Model.ActiveUsers</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <partial name="_ReportBrowsePartial" model="@Model.ReportDisplayViewModel" />
        </div>
    </div>
</div>


