@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <h1>@this.ViewData["Title"]</h1>
            @if (Model.Reports.Count > 0)
            {
                <h5>All reports: </h5>
                <hr />
                @foreach (var report in Model.Reports)
                {
                    <div class="text-body">
                        <h6 class="job-card_title">@report.Title</h6>
                        @report.CreatedOn
                        <br />
                        <a asp-controller="Job" asp-action="Id" asp-route-id="@report.JobPostId">Reported post</a>
                        <p class="card-text">
                            @report.Message
                        </p>
                    </div>
                    <hr />
                }
            }
        </div>
    </div>
</div>
